In [1]:
from utils import hql_to_df
import settings
settings.set_env('sanguo_ks')

In [2]:
act_sql = '''
select ds, user_id
from raw_activeuser
where ds >= '20160501' and ds <= '20160510'
'''
act_df = hql_to_df(act_sql)
print act_df.head()

         ds     user_id
0  20160510   m49385201
1  20160510  m108654572
2  20160510   m19373220
3  20160510   m45951639
4  20160510  m122603561

`pivot_table`可以将列转成行

In [3]:
act_df['act'] = 1
print act_df.pivot_table('act', ['user_id'], 'ds').head()

ds          20160501  20160502  20160503  20160504  20160505  20160506  \
user_id
m100000323       1.0       NaN       NaN       NaN       NaN       NaN
m10000442        NaN       NaN       NaN       NaN       NaN       NaN
m100007951       1.0       1.0       1.0       1.0       1.0       1.0
m100011278       1.0       NaN       NaN       1.0       NaN       1.0
m100011534       NaN       NaN       1.0       NaN       1.0       1.0

ds          20160507  20160508  20160509  20160510
user_id
m100000323       NaN       NaN       NaN       NaN
m10000442        1.0       1.0       1.0       1.0
m100007951       1.0       1.0       1.0       1.0
m100011278       NaN       NaN       NaN       NaN
m100011534       1.0       NaN       NaN       NaN